<div class="sfondo">
    <br>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Valorant_logo_-_pink_color_version.svg/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="">
    </div>
        <h1 class="titolo">LEADERBOARD VALORANT</h1>
        <div class="container">
            <p class="descrizione">Valorant è uno sparatutto tattico che vede due squadre di cinque giocatori prendere il controllo di diversi personaggi, che differiscono per caratteristiche e abilità.</p>
        </div>
    <div class="container" *ngFor="let element of persone; let i = index"><br><br>
        <div class="card-body" >
            <img class="foto" [src]="element.immagine">
            <div class="card-body" [ngClass]="{'jett' :element.operatore =='jett', 'yoru' :element.operatore =='yoru', 'omen' :element.operatore =='omen', 'gekko' :element.operatore =='gekko','chamber' :element.operatore =='chamber','viper' :element.operatore =='viper', 'raze' :element.operatore =='raze',}">
                <p class="card-text"><strong>{{element.nickname}}</strong></p>
                <p class="card-text"><i>{{element.eta}}</i></p>
                <span>
                    <div [ngSwitch]="element.nazionalita">
                        <p class="badge" *ngSwitchCase="'USA'">🇺🇸</p>
                        <p class="badge" *ngSwitchCase="'Latvia'">🇱🇻</p>
                        <p class="badge" *ngSwitchCase="'Russia'">🇷🇺</p>
                        <p class="badge" *ngSwitchCase="'UK'">🇬🇧</p>
                        <p class="badge" *ngSwitchCase="'Canada'"> 🇨🇦</p>
                        <p class="badge" *ngSwitchCase="'Singapore'">🇸🇬</p>
                        <p class="badge" *ngSwitchCase="'Brasile'"> 🇧🇷</p>
                        <p class="badge" *ngSwitchDefault>default</p>
                    </div>
                </span>  
                <p class="card-text">Operatore: <i>{{element.operatore}}</i></p>
                <div class="container">
                    <button class="button" (click)=" openLink(element.web) ">Wiki</button>
                </div>
            </div>
        </div>
    </div>
</div>
