.container {
    display: flex; /* Rende tutto responsive, pulito*/
    flex-direction: row; /* Carte in orizzontale*/
    justify-content: center;
    background-color: #e0dddd;
    padding: 20px;
    
}

.card-body {
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-direction: row;
    justify-content: center;
}

.foto{
    justify-content: center;
    display: flex;
    margin: 4px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px; /* Puoi regolare questa larghezza a seconda delle tue necessità */
}
.card-text{
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    
}
.titolo{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px; 
    text-align: center; 
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
    margin-top: 50px; 
    margin-bottom: 20px; 
    text-transform: uppercase; 
    letter-spacing: 1.5px;
}
.sfondo{
    size: 100%;
    background-image: url('https://wallpapers.com/images/featured/valorant-305kescxw5dpup7y.jpg');
}
.jett{background-color: #c7dbee;}
.yoru{background-color: #1709df;}
.viper{background-color: green;}
.omen{background-color: #210464;}
.gekko{background-color: #6de925;}
.chamber{background-color: #ffd23e;}
.raze{background-color: #ec7709;}
.button{
    
}