<div class="sfondo">
    <br>
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Valorant_logo_-_pink_color_version.svg/1280px-Valorant_logo_-_pink_color_version.svg.png" alt="">
    </div>
    <div><h1 class="titolo">LEADERBOARD VALORANT</h1></div>
    <div class="container" *ngFor="let element of persone; let i = index"><br><br>
        <div class="card-body" >
            <img class="foto" [src]="element.immagine">
            <div class="card-body" [ngClass]="{'jett' :element.operatore =='jett', 'yoru' :element.operatore =='yoru', 'omen' :element.operatore =='omen', 'gekko' :element.operatore =='gekko','chamber' :element.operatore =='chamber','viper' :element.operatore =='viper', 'raze' :element.operatore =='raze',}">
                <p class="card-text"><strong>{{element.nickname}}</strong></p>
                <p class="card-text"><i>{{element.eta}}</i></p>
                <p class="card-text"><i>{{element.nazionalita}} </i> 
                    <span class="ui left pointing label">
                        <div [ngSwitch]="element.nazionalita">
                        <ng-container *ngSwitchCase="'USA'">🇺🇸</ng-container>
                        <ng-container *ngSwitchCase="'Latvia'">🇱🇻</ng-container>
                        <ng-container *ngSwitchCase="'Russia'">🇷🇺</ng-container>
                        <ng-container *ngSwitchCase="'UK'">🇬🇧</ng-container>
                        <ng-container *ngSwitchCase="'Canada'"> 🇨🇦</ng-container>
                        <ng-container *ngSwitchCase="'Singapore'">🇸🇬</ng-container>
                        <ng-container *ngSwitchCase="'Brasile'"> 🇧🇷</ng-container>
                        <ng-container ngSwitchDefault>default</ng-container>
                       </div>
                    </span>
                </p>
                <p class="card-text">Operatore: <i>{{element.operatore}}</i></p>
                <div class="container">
                    <button class="button" (click)=" openLink(element.web) ">Wiki</button>
                </div>
            </div>
        </div>
    </div>
</div>
