<div class="sfondo">
    <br>
    <div><h1 class="titolo">LEADERBOARD VALORANT</h1></div>
    <div *ngFor="let element of persone; let i = index"><br><br>
        <div class="card-body" >
            <img class="foto" [src]="element.immagine">
            <div class="card-body" [ngClass]="{'jett' :element.operatore =='jett', 'yoru' :element.operatore =='yoru', 'omen' :element.operatore =='omen', 'gekko' :element.operatore =='gekko','chamber' :element.operatore =='chamber','viper' :element.operatore =='viper', 'raze' :element.operatore =='raze',}">
                <p class="card-text">NickName: <strong>{{element.nickname}}</strong></p>
                <p class="card-text">Età: <i>{{element.eta}}</i></p>
                <p class="card-text">Nazionalita': <i>{{element.nazionalita}}</i></p>
                <p class="card-text">Operatore': <i>{{element.operatore}}</i></p>
                <button class="button" (click)=" openExternalPage(element.web) ">Wiki</button>
            </div>
        </div>
    </div>
</div>
