<div class="container">
    <h1 class="titolo">Astra&Co</h1>
    <div>
        <p>Astra&Co è all'avanguardia nel settore dei viaggi interstellari, offrendo esperienze indimenticabili per esploratori spaziali, avventurieri e appassionati di scoperta. Fondata nel 2024 da un team di ingegneri, scienziati e imprenditori visionari, l'azienda ha rivoluzionato il concetto di esplorazione dello spazio profondo, rendendo accessibili le meraviglie dell'universo a un pubblico globale.</p>
    </div>
</div>
