.container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.card-body {
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
    background-color: aqua;
    width: 90%;
}
.foto{
    width: 400px;
}