.container{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}
.card-body {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    background-color: rgba(77,87,111, 0.45);
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    align-items: center;
    margin-left: 20px;
    
}
.foto{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.titolo{
    font-family: 'Arial', sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff; 
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombra del testo */
}
.testo{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    line-height: 1.5; /* Altezza della riga */
    color: #ffffff; /* Colore del testo bianco */
    text-align: center;
    margin-bottom: 30px; /* Margine inferiore */
    font-weight: 550; /* Peso del testo leggermente più spesso */
    line-height: 1.7; /* Altezza della riga */
}