<div class="container">
    <div *ngFor="let element of biglietti; let i = index">
        <div class="card-body">
                <h1 class="titolo">{{ element.destinazione |uppercase}}</h1>
                <img class="foto" [src]="element.immagine">
                <p class="testo">Sistema Solare: {{element.sistemaSolare |lowercase}}</p>
                <p class="testo">Durata Viaggio: {{element.durata |lowercase}} anni in luce</p>
                <p class="testo">Spazio porto di partenza: {{element.spazioPorto |lowercase}}</p>
                <p class="testo">Ora di partenza e arrivo: {{element.partenza |date: 'longDate'}} e {{element.arrivo |date: 'longDate'}}</p>
                <p class="testo">Prezzo biglietto: {{element.costo | currency: 'EUR'}}</p>
        </div>
        <br>
    </div>
</div>